@page "/form-native-demo"

<h3>FormModelDemo</h3>

<EditForm Model="@EmergencyContact" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />

    <label for="@EmergencyContact.Name">Name</label>
    <input @bind="EmergencyContact.Name" class="user-input"></input>
    <ValidationMessage For="@(() => @EmergencyContact.Name)" />

    <button @onclick="ClearForm">Clear</button>
    <button type="submit">Submit</button>
</EditForm>

<p>
    @demo
</p>
