@page "/fluent-validation-demo"
@using Blazored.FluentValidation
@using EmployeeManagementPortal.Shared.Enums

<h3>Data Annotation Demo</h3>

<EditForm Model="@Demo" OnValidSubmit="@HandleValidSubmit">
    <FluentValidationValidator />
    <ValidationSummary />

    <label for="@Demo.Name">Name:</label>
    <InputText @bind-Value="Demo.Name" class="user-input"></InputText>
    <ValidationMessage For="@(() => @Demo.Name)" />

    <label for="@Demo.Age">Age:</label>
    <InputNumber @bind-Value="Demo.Age" class="user-input"></InputNumber>
    <ValidationMessage For="@(() => @Demo.Age)" />

    <label for="@Demo.EmergencyContact.Name">City:</label>
    <InputText @bind-Value="Demo.EmergencyContact.Name" class="user-input"></InputText>
    <ValidationMessage For="@(() => @Demo.EmergencyContact.Name)" />

    <label for="@Demo.EmergencyContact.MobileNumber">Country:</label>
    <InputText @bind-Value="Demo.EmergencyContact.MobileNumber" class="user-input"></InputText>
    <ValidationMessage For="@(() => @Demo.EmergencyContact.MobileNumber)" />

    <button @onclick="ClearForm">Clear</button>
    <button type="submit">Submit</button>
</EditForm>

<p>
    @demo
</p>
